/*h1 style*/
h1{
    text-align: center;
    font-style: italic;
}

/*h2 style*/
h2{
    text-align: center;
}

/*h3 style*/
h3{
    text-align: center;
    border-bottom: solid;
}

#navbar{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
  
    li{
        float:left;
        width: 180px;
    }
  
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
  
  li a:hover{
        background-color: #111;
    }
}

/*thumbnail*/
#bookThumbnail{
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

#title{
    font-style: italic;
    font-weight: bold;
    font-size: large;
    padding-top: 20px;
}

#subtitle{
    font-style: italic;
}

#authors{
    font-style: italic;
}

#publisher{
    font-style: italic;
}

#publishedDate{
    font-style: italic;
}

#description{
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid;
}

#M2Titles{
    border-top: solid;
    text-align: center;
}

#bookDetailTitle{
    text-align: left;
}